<!-- <p>menu works!</p>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>tittle</mat-label>
    <input matInput placeholder="title" value="tittle">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>description</mat-label>
    <textarea matInput placeholder="type your note"></textarea>
  </mat-form-field>
</form>
<div class="example-button-row">
  <button mat-button >submit</button>
</div> -->
<!-- <form>
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/books']"><mat-icon>list</mat-icon></a>
</div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title">
    <mat-error>
      <span>Please enter Book Title</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
    <mat-error>
      <span >Please enter Book Description</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form> -->



<div class="container">
  <form id="contact">
    <fieldset>
      <input placeholder="tittle" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <textarea placeholder="description...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
