<!-- <div class="centered-content">
  <div class="white-box">

    <h1 class="title has-text-primary">Login</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #userInput class="input has-background-light" type="text" placeholder="user">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button is-success has-text-white" (click)="onLoginButtonClicked()">
          Login
        </button>
      </p>
    </div>


</div> -->
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>

    <span>notes app</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <input placeholder="user" type="text" tabindex="1" required autofocus>
  </mat-toolbar-row>



